body {
	background-image: url('../img/background.png');
  	background-attachment: fixed;
  	width: 100%;
}

header {
	width: 100%;
	height: 70px;
	padding-right: 0px;
	padding-left: 0px;
	background-color: white;
}

.navbar-toggler{
	font-size: 1rem;
}

#corpo{
	background-color: #ffffff;
}


/*RODAPÉ*/
footer {
	margin-top: 10px;
	border-top: .1px solid gray;
}

#panel-footer div a:link{
	text-decoration: none; 
	color: #ffffff;
}

